p{
    font-size:1.2rem;
    font-weight:bold;
}
.pbottom{
    text-align:right;
    display:inline-block;
    border: 1px solid white;
    margin: 10px;
    padding:15px;
}
strong{
    color: white;
}
span{
    color : white;
    text-decoration: underline;
}