.container{
    display: flex;
    height: 4rem;
    font-size: 2rem;
    background-color: #DFF0DD;
    justify-content: space-between;
}
.left{
padding: 1rem;

}
.left a{
padding: 1rem;
color: #00ACB3;
text-decoration: none;
}
.right{
width: 20rem;
padding: 1rem;
margin-right: 1rem;
display: flex;
justify-content: space-between;

}
.right a{
    color: #1B6383;
    text-decoration: none;
}